body {
    font-family: 'Prompt' , sans-serif;
    margin: 0;
    background-color: #0e0e0e;
    color: white;
    text-align: center;
}
.navbar {
    list-style: none;
    background-color: #1e1e1e;
    padding: 10px;
    margin: 0;
    display: flex;
    justify-content: center ;
    gap: 20px;
}
.navbar a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}
.navbar a:hover,.navbar .active{
    color: #0af;
}
.hero {
    padding: 100px 20px;
    background: linear-gradient(135deg,#04c,#0af);
    color: white;
}